version: 2.1

jobs:
  java-build:
    docker:
      - image: cimg/openjdk:17.0

    steps:
      # Get source from Git
      - checkout

      # Compile Java
      - run:
          name: Compile Java
          command: javac Hello.java

      # Run Java program
      - run:
          name: Run Java
          command: java Hello

workflows:
  java-workflow:
    jobs:
      - java-build
