version: 2.1

# ---- PARAMETERS SECTION ----
parameters:
  USERNAME:
    type: string
    default: "Student"

jobs:
  parameter-job:
    docker:
      - image: cimg/base:stable
      
    steps:
      - run:
          name: Print Username Parameter
          command: echo "Username = Srinidhi"

workflows:
  param-workflow:
    jobs:
      - parameter-job
