version: 2.1

jobs:
  post-build-job:
    docker:
      - image: cimg/base:stable

    steps:
      - checkout

      # Main step
      - run:
          name: Main Task
          command: echo "Executing main build step"

      # ----- POST BUILD ACTIONS -----

      - run:
          name: On Success Message
          when: on_success
          command: echo "BUILD SUCCESS – Pipeline completed successfully"

      - run:
          name: On Failure Message
          when: on_fail
          command: echo "BUILD FAILED – Check errors"

workflows:
  post-build-workflow:
    jobs:
      - post-build-job
