version: 2.1

jobs:
  checkout-stage:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout

  build-stage:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run: javac Hello.java

  test-stage:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run: javac Hello.java
      - run: java Hello

workflows:
  simple-pipeline:
    jobs:
      - checkout-stage
      - build-stage:
          requires:
            - checkout-stage
      - test-stage:
          requires:
            - build-stage
