version: 2.1

jobs:
  checkout-stage:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Verify Source
          command: ls -R

  build-stage:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: Compile Java
          command: javac Hello.java

  test-stage:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: Run Program as Test
          command: java Hello

# ---- PIPELINE WORKFLOW ----
workflows:
  simple-pipeline:
    jobs:
      - checkout-stage
      - build-stage:
          requires:
            - checkout-stage
      - test-stage:
          requires:
            - build-stage
