version: 2.1

jobs:
  workspace-job:
    docker:
      - image: cimg/base:stable

    steps:
      # 1. Create file inside workspace
      - run:
          name: Create text file
          command: echo "This file is created in CircleCI workspace" > demo.txt

      # 2. Display file contents
      - run:
          name: Show file content
          command: cat demo.txt

      # 3. List workspace files
      - run:
          name: Verify workspace
          command: ls -l

workflows:
  workspace-workflow:
    jobs:
      - workspace-job
